.dash {
  text-align: center;
}

.player-container {
  padding: 2%;
}

.dash-header {
  background-color: #282c34;
  min-height: 91.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dash-link {
  color: #04aa6d;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.simple-keyboard {
  max-width: 850px;
  color: rgb(0, 0, 0);
}
